<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      CADASTRO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

    <ion-item color="dark">
        <ion-label>Nome</ion-label>
        <ion-input placeholder="ex: Julia"></ion-input>
      </ion-item>

      <ion-item color="dark"> 
          <ion-label>CPF</ion-label>
          <ion-input placeholder="012.345.678-01"></ion-input>
        </ion-item>

        <ion-item color="dark">
            <ion-label position="floating">Data de nascimento</ion-label>
            <ion-datetime></ion-datetime>
          </ion-item>

        <ion-item color="dark">
            <ion-list color="dark">
                <ion-radio-group value="biff" color="dark">
                  <ion-list-header color="dark">
                    <ion-label>Gênero</ion-label>
                  </ion-list-header>
              
                  <ion-item color="dark">
                    <ion-label>Feminino</ion-label>
                    <ion-radio slot="start" value="biff"></ion-radio>
                  </ion-item>
              
                  <ion-item color="dark">
                    <ion-label>Masculino</ion-label>
                    <ion-radio slot="start" value="griff"></ion-radio>
                  </ion-item>
              
                  <ion-item color="dark">
                    <ion-label>Outro</ion-label>
                    <ion-radio slot="start" value="buford"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
        </ion-item>

        <ion-item color="dark">
            <ion-label>Celular</ion-label>
            <ion-input placeholder="(DDD) 12345-1234"></ion-input>
          </ion-item>
  
  <ion-item color="dark">
    <ion-label>Email</ion-label>
    <ion-input placeholder="exemplo@email.com"></ion-input>
  </ion-item>

  <ion-item color="dark">
    <ion-label>Senha</ion-label>
    <ion-input placeholder="******"></ion-input>
  </ion-item>

  <ion-item color="dark">
    <ion-label>Confirmar senha</ion-label>
    <ion-input placeholder="******"></ion-input>
  </ion-item>
  
  <ion-item color="dark">
    <ion-button color="warning" slot="start">
      Voltar
    </ion-button>
    <ion-button color="warning" slot="end">
      Salvar
    </ion-button>
  </ion-item>

</ion-content>